<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ma.rearchitect">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication" />
    <dependency>
        <groupId>com.google.android.gms</groupId>
        <artifactId>play-services-ads</artifactId>
        <version>7.5.0</version>
        <type>apklib</type>
    </dependency>

</manifest>